<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-4">
      <h1>Cambia Password</h1>

      <div class="alert alert-danger" *ngIf="initialized && !key">La chiave di reimpostazione non è presente.</div>

      <div class="alert alert-warning" *ngIf="key && !success">
        <span>Scegliere una nuova password</span>
      </div>

      <div class="alert alert-danger" *ngIf="error">
        <span>La tua password potrebbe non essere ripristinata. Ricorda che la richiesta della password è valida solo per 24 ore.</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span><strong>La tua password è stata reimpostata .</strong> Per favore </span>
        <a class="alert-link" routerLink="/login">accedere</a>.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch">La password e la sua conferma non corrispondono!</div>

      <div *ngIf="key && !success">
        <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
          <div class="mb-3">
            <label class="form-label" for="newPassword">Nuova password</label>
            <input
              type="password"
              class="form-control"
              id="newPassword"
              name="newPassword"
              placeholder="Nuova password"
              formControlName="newPassword"
              data-cy="resetPassword"
              #newPassword
            />

            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required"
                >La password è obbligatoria.</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                >La password deve essere di almeno 4 caratteri</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                >La password non può contenere più di 50 caratteri</small
              >
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Conferma nuova password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="Conferma nuova password"
              formControlName="confirmPassword"
              data-cy="confirmResetPassword"
            />

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                >La password di conferma è obbligatoria.</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                >La tua password deve essere di almeno 4 caratteri</small
              >

              <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                >La tua password non può contenere più di 50 caratteri</small
              >
            </div>
          </div>

          <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">
            Convalida la nuova password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
