<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-compito-in-classe-heading" data-cy="CompitoInClasseCreateUpdateHeading">Genera o modifica un Compito In Classe</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_materia">Materia</label>
          <select class="form-control" name="materia" formControlName="materia" id="field_materia" data-cy="materia">
            <option [ngValue]="null"></option>
            <option *ngFor="let materia of materiaValues" [value]="materia">{{ materia }}</option>
          </select>
          <div *ngIf="editForm.get('materia')!.invalid && (editForm.get('materia')!.dirty || editForm.get('materia')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('materia')?.errors?.required"
              >Translation missing for entity.validation.required</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('data')!.invalid && (editForm.get('data')!.dirty || editForm.get('data')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('data')?.errors?.required"
              >Translation missing for entity.validation.required</small
            >
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Translation missing for entity.action.cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Translation missing for entity.action.save</span>
        </button>
      </div>
    </form>
  </div>
</div>
